# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Data
data/processed/

# Node
node_modules/
.next/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db